---
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Lefpap | ${title}`}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.ts";
    </script>
  </body><style>
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;

      main {
        flex: 1;
      }
    }
  </style>
</html>
